@import "../../properties.scss";

p.xxs{
    font-size: var(--font-size-xxs);
}

p.xs{
    font-size: var(--font-size-xs);
}

p.s{
    font-size: var(--font-size-s);
}

p.m{
    font-size: var(--font-size-m);
}

p.l{
    font-size: var(--font-size-l);
}

p.xl{
    font-size: var(--font-size-xl);
}

p.xxl{
    font-size: var(--font-size-xxl);
}

p.xxxl{
    font-size: var(--font-size-xxxl);
}

p.xxxxl{
    font-size: var(--font-size-xxxxl);
}

.text-center{
    text-align: center;
}

p.padding-20{
    padding: 20px;
}

p {
    color:var(--color-gray)
}

p.detail-list{
    padding: 8px 0;
    border-bottom: 1px solid #525252;
}