@import "../../properties.scss";

.moviesContainer{
    display: block;
    width: 1124px;
    justify-content: center;
    align-items: center;
    margin:auto;
    max-width: 95%;
    padding-top: 20px;
    padding-bottom: 170px;
    ul.movies{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        list-style: none;
    }
}