@import "../../properties.scss";

input.searchInput {
    width: 32rem;
    height: 3rem;
    padding: 0 1rem;
    background: none;
    border: 1px solid var(--color-gray);
    box-shadow: none;
    transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
    font-size: 15px;
    color: var(--color-white);
}

input.searchInput::placeholder {
    color: var(--color-gray);
    font-size: 15px;
    top:0;
}

input.searchInput:focus::placeholder {
    text-indent: -999px
}

input.searchInput:focus {
    outline: none;
}