@import "../../properties.scss";

.nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    .nav--item{
        a{
            padding: 10px;
            font-size: var(--font-size-m);
        } 
    }
}