@import "../../properties.scss";

.button{
    padding: 0 1rem;
    height: 3.2rem;
    font-size: 15px;
    background: var(--color-yellow);
    font-weight: bold;
    border: 1px solid var(--color-yellow);
    box-shadow: none;
    cursor: pointer;
}