@import "../../properties.scss";

li.movies--item{
    background-color: transparent;
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    margin-bottom: 10px;
    height: auto;
    .wrapper--item--text{  
        padding: 1rem;
    }
    .movies--item--cover{
        overflow: hidden;
        background-size:100% auto;
        background-position: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 280px;
            max-height: 280px;
        }
    }
}

@keyframes shimmer {
    0%{
      background-position: -450px 0;
    }
    100%{
      background-position: 450px 0;
    }
}