:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #e0dfdd;
    --color-dark: #404040;
    --color-yellow: #f7c418;
    --color-black-light: #101010;

    --font-size-xxs: none;
    --font-size-xs: .6rem;
    --font-size-s: .8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
    --font-size-xxxl: 1.8rem;
    --font-size-xxxxl: 2.0rem;

    --image-cover-default: url("../assets/images/text-yellow.png");
}