@import "../../properties.scss";

.searchbar-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--color-black);
}
  
.heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: white;
}

.searchInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin:auto;
}
  